# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: 用户服务
  description: 用户服务
  version: "v2"
# the domain of the service
host: userservices.qiyunxin.com
tags:
  - name: users
    description: 用户
  - name: authorization
    description: 授权

securityDefinitions:
  app_id:
    type: apiKey
    in: header
    name: app_id
    description: 应用ID
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: 用户token
  sign:
    type: apiKey
    in: header
    name: sign
    description: 签名
  noncestr:
    type: apiKey
    in: header
    name: noncestr
    description: 随机字符串
  timestamp:
    type: apiKey
    in: header
    name: timestamp
    description: 时间戳
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /v2
produces:
  - application/json
paths:
  /users/{open_id}/fields/{field}/values/{value}:
    put:
      security:
        - app_id: []
        - Authorization: []
      summary: 更新用户属性
      operationId: UsersUpdateWithField
      description: |
         更新用户属性
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          type: string
          required: true
        - name: field
          in: path
          description: 更新对应的field
          type: string
          required: true
        - name: value
          in: path
          description: field对应的值
          type: string
          required: true
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
             $ref: '#/definitions/Error'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users/{open_id}:
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 获取用户详情
      operationId: UsersGet
      description: |
          获取用户详情
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          type: string
          required: true
      tags:
        - users
      responses:
        200:
          description: 用户详情
          schema:
            $ref: '#/definitions/UsersDetail'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users/{open_id}/nearby:
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 附近的人
      operationId: NearbyList
      description: |
          附近的人
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          type: string
          required: true
        - name: lat
          in: query
          description: 纬度
          type: string
          required: true
        - name: lng
          in: query
          description: 经度
          type: string
          required: true
        - name: sex
          in: query
          description: "性别 0.女 1.男 不填就是所有"
          type: string
          required: false
        - name: radius
          in: query
          description: "范围单位米 可为空"
          type: integer
          required: false
      tags:
        - users
      responses:
        200:
          description: 用户信息
          schema:
            $ref: '#/definitions/UserNearby'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users:
    post:
      security:
        - app_id: []
      summary: 用户注册
      operationId: Register
      description: |
          用户注册
      parameters:
        - name: code
          in: query
          description: 验证码
          type: string
        - name: type
          in: query
          description: "注册类型（目前支持: mobile）"
          type: string
        - name: input
          in: body
          description: 用户信息
          schema:
            $ref: '#/definitions/UsersInput'
      tags:
        - users
      responses:
        200:
          description: 用户详情
          schema:
            $ref: '#/definitions/UsersDetail'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /user/login:
    post:
      security:
        - app_id: []
      summary: 用户登录
      operationId: Login
      description: |
          用户登录
      parameters:
        - name: input
          in: body
          description: 登录参数
          schema:
            $ref: '#/definitions/LoginOfUsernameInput'
      tags:
        - users
      responses:
        200:
          description: 登录结果
          schema:
            $ref: '#/definitions/UsersLoginResult'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /user/wx_login:
    post:
      security:
        - app_id: []
      summary: 微信登录
      operationId: LoginOfWX
      description: |
          微信登录
      parameters:
        - name: input
          in: body
          description: 登录参数
          schema:
            $ref: '#/definitions/LoginOfWXInput'
      tags:
        - users
      responses:
        200:
          description: 登录结果
          schema:
            $ref: '#/definitions/UsersLoginResult'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /user/exist:
    get:
      security:
        - app_id: []
      summary: 用户是否存在
      operationId: UsersExist
      description: |
          用户是否存在
      parameters:
        - name: username
          in: query
          description: 用户名
          type: string
          required: true
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            $ref: '#/definitions/UserExist'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /user/search:
    get:
      security:
        - app_id: []
      summary: 用户搜索
      operationId: UsersSearch
      description: |
          用户搜索
      parameters:
        - name: username
          in: query
          description: 用户名
          type: string
          required: false
        - name: short_no
          in: query
          description: 用户短编号
          type: string
          required: false
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            type: array
            items:
              $ref: '#/definitions/UsersSearchResult'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users/{open_id}/avatar:
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 用户头像上传
      operationId: UserAvatarUpload
      consumes:
        - multipart/form-data
      description: |
          用户头像上传
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          type: string
          required: true
        - name: file
          in: formData
          description: 用户头像文件
          required: true
          type: file
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            type: array
            items:
              type: string
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users/{open_id}/pwdupdate:
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 修改密码
      operationId: UserPwdUpdate
      description: |
          修改密码
      parameters:
        - name: open_id
          in: path
          description: 用户open_id
          type: string
          required: true
        - name: input
          in: body
          description: 密码信息
          schema:
            $ref: '#/definitions/UserPwdUpdateInput'
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            $ref: '#/definitions/Error'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /user/pwdforget:
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 忘记密码
      operationId: PwdForget
      description: |
          忘记密码
      parameters:
        - name: input
          in: body
          description: 参数输入
          schema:
            $ref: '#/definitions/PwdForgetInput'
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            $ref: '#/definitions/Error'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users/{open_id}/lock/{act_open_id}:
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 禁用用户
      operationId: UserLock
      description: |
          禁用用户
      parameters:
        - name: open_id
          in: path
          description: 操作人open_id
          type: string
          required: true
        - name: act_open_id
          in: path
          description: 被锁用户open_id
          type: string
          required: true
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            $ref: '#/definitions/Error'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users/{open_id}/unlock/{act_open_id}:
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 解禁用户
      operationId: UserUnLock
      description: |
          解禁用户
      parameters:
        - name: open_id
          in: path
          description: 操作人open_id
          type: string
          required: true
        - name: act_open_id
          in: path
          description: 被解禁用户open_id
          type: string
          required: true
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            $ref: '#/definitions/Error'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users/{open_id}/page:
    get:
      security:
        - app_id: []
        - Authorization: []
      summary: 用户信息分页查询（管理端）
      operationId: UsersPage
      description: |
          用户信息分页查询
      parameters:
        - name: open_id
          in: path
          description: 当前用户open_id
          type: string
          required: true
        - name: keyword
          in: query
          description: 关键字查询（昵称，手机号）
          type: string
          required: false
        - name: start_time
          in: query
          description: 开始时间（注册时间）
          type: string
          required: false
        - name: end_time
          in: query
          description: 结束时间（注册时间）
          type: string
          required: false
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
              $ref: '#/definitions/UsersPage'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /manager/users:
    post:
      security:
        - app_id: []
        - Authorization: []
      summary: 添加用户（权限控制）
      operationId: UsersAdd
      description: |
          添加用户（权限控制）
      parameters:
        - name: input
          in: body
          description: 用户信息
          schema:
            $ref: '#/definitions/UsersInput'
      tags:
        - users
      responses:
        200:
          description: 用户详情
          schema:
            $ref: '#/definitions/UsersDetail'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /authorization/token:
    get:
      summary: 获取授权token
      operationId: AuthorizationGetToken
      description: |
          获取授权token
      parameters:
        - name: app_id
          in: query
          description: app id
          type: string
        - name: app_key
          in: query
          description: app key
          type: string
        - name: code
          in: query
          description: 授权码code
          type: string
      tags:
        - authorization
      responses:
        200:
          description: 结果
          schema:
            $ref: '#/definitions/AuthorizationTokenResult'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /authorization/userinfo:
    get:
      summary: 获取用户信息
      operationId: UsersSimpleGet
      description: |
          获取用户信息
      parameters:
        - name: open_id
          in: query
          description: 用户open_id
          type: string
      tags:
        - authorization
      responses:
        200:
          description: 结果
          schema:
            $ref: '#/definitions/SimpleUserInfo'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /sync/users:
    post:
      summary: 同步用户数据 (内部接口)
      operationId: UsersSync
      description: |
          同步用户数据
      parameters:
        - name: sync_key
          in: query
          description: 同步key  UPDATE_TIME@ID 例如 2017-09-12 15:40:53@10
          type: string
        - name: limit
          in: query
          description: 数据量
          type: integer
          format: int64
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            type: array
            items:
              $ref: '#/definitions/UsersSyncResult'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
  /users/type/{type}:
    get:
      summary: 通过类型查询用户列表（分页）
      operationId: UserPageWithType
      description: |
          通过类型查询用户列表（分页）
      parameters:
        - name: type
          in: path
          description: 类型 service：客服
          required: true
          type: string
      tags:
        - users
      responses:
        200:
          description: 结果
          schema:
            $ref: '#/definitions/UsersResultPage'
        400:
          description: '错误'
          schema:
            $ref: '#/definitions/Error'
definitions:
  UsersResultPage:
    type: object
    properties:
      page_index:
        type: number
        description: 当前页码
      page_size:
        type: number
        description: 每页大小
      total:
        type: number
        description: 总共数据
      data:
        type: array
        description: 用户数据
        items:
          $ref: '#/definitions/UsersSearchResult'
  UsersSyncResult:
    type: object
    properties:
      id:
        type: integer
        description: ID
      open_id:
        type: string
        description: 用户open_id
      nickname:
        type: string
        description: 用户昵称
      mobile:
        type: string
        description: 手机号
      sex:
        type: integer
        format: int
        description: 用户性别
      update_time:
        type: string
        description: 更新时间
  SimpleUserInfo:
    type: object
    properties:
      open_id:
        type: string
        description: 用户open_id
      nickname:
        type: string
        description: 用户昵称
      sex:
        type: string
        description: 用户性别
  AuthorizationTokenResult:
    type: object
    properties:
      open_id:
        type: string
        description: 用户open_id
      scope:
        type: string
        description: 作用域
      token:
        type: string
        description: token
  UsersPage:
    type: object
    properties:
      page_index:
        type: number
        description: 当前页码
      page_size:
        type: number
        description: 每页大小
      total:
        type: number
        description: 总共数据
      data:
        type: array
        description: 用户数据
        items:
          $ref: '#/definitions/UsersDetail'
  PwdForgetInput:
    type: object
    properties:
      mobile:
        type: string
        description: 手机号
      code:
        type: string
        description: 验证码
      password:
        type: string
        description: 密码
  UserPwdUpdateInput:
    type: object
    properties:
      old_pwd:
        type: string
        description: 旧密码
      new_pwd:
        type: string
        description: 新密码
  UsersSearchResult:
    type: object
    properties:
      app_id:
        type: string
        description: app_id
      open_id:
        type: string
        description: open_id
      username:
        type: string
        description: 用户名
      nickname:
        type: string
        description: 昵称
      type:
        type: string
        description: 用户类型 service：客服
      sex:
        type: integer
        description: 性别 0.女 1.男 3.未知
  UserExist:
    type: object
    properties:
      exist:
        type: integer
        description: 是否存在 1.存在 0.不存在
  UsersLoginResult:
    allOf:
      - $ref: '#/definitions/UsersDetail'
      - type: object
        properties:
          token:
            type: string
            description: token
  LoginOfUsernameInput:
    type: object
    properties:
      username:
        type: string
        description: 用户名
      password:
        type: string
        description: 密码
  LoginOfWXInput:
    type: object
    properties:
      code:
        type: string
        description: 微信code
      login_type:
        type: string
        description: 微信登录类型 wx_smallapp：微信小程序  wx_app：微信APP或H5登录
      user_encrypted_data:
        type: string
        description: 微信用户加密数据（小程序登录必传）（小程序调用wx.getUserInfo获取到EncryptedData）
      iv:
        type: string
        description: '微信加密算法的初始向量 （小程序登录必传）（参考https://mp.weixin.qq.com/debug/wxadoc/dev/api/signature.html#加密数据解密算法）'
  Users:
    type: object
    properties:
      app_id:
        type: string
        description: app_id
      open_id:
        type: string
        description: 用户ID
      short_no:
        type: string
        description: 短编号(用户唯一)
      cust_id:
        type: string
        description: 聊天ID
      username:
        type: string
        description: 用户名
      nickname:
        type: string
        description: 昵称
      mobile:
        type: string
        description: 手机号
      im_token:
        type: string
        description: im token
      email:
        type: string
        description: 邮箱地址
      wx_open_id:
        type: string
        description: 微信OpenId
      sex:
        type: integer
        description: 性别 0.女 1.男 3.未知
  UserNearby:
    allOf:
      - $ref: '#/definitions/UsersDetail'
      - type: object
        properties:
          distance:
            type: number
            description: 距离（单位米）
  UsersDetail:
    allOf:
      - $ref: '#/definitions/Users'
      - type: object
        properties:
          users_ext:
            type: array
            items:
              $ref: '#/definitions/UsersExt'
  UsersInput:
    type: object
    properties:
      username:
        type: string
        description: 用户名
      nickname:
        type: string
        description: 昵称
      mobile:
        type: string
        description: 手机号
      email:
        type: string
        description: 邮箱
      password:
        type: string
        description: 密码
      sex:
        type: integer
        description: 性别 0.女 1.男 3.未知
      wx_open_id:
        type: string
        description: 微信OpenId
      users_ext:
        type: array
        items:
          $ref: '#/definitions/UsersExtInput'
        description: 扩展属性
  UsersExt:
    type: object
    description: 扩展属性
    properties:
      user_id:
        type: string
        description: 用户ID
      open_id:
        type: string
        description: 用户OpenId
      attr_key:
        type: string
        description: 属性KEY
      attr_value:
        type: string
        description: 属性值
  UsersExtInput:
    type: object
    description: 扩展属性
    properties:
      attr_key:
        type: string
        description: 属性KEY
      attr_value:
        type: string
        description: 属性值
  Error:
    type: object
    properties:
      err_code:
        type: string
      err_msg:
        type: string
